<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Selenium Easy</title>
    <link href="https://demo.anhtester.com/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid text-center" id="easycont">
        <div class="row" >
            <div class="col-md-6 text-left">
                <h3>This would be your first example to start with Selenium.</h3>
                <p>The tag <code>input</code> specifies an input field where the user can enter data.</p>
                <br>
                <div class="panel panel-default">
                    <div class="panel-heading">Single Input Field</div>
                    <div class="panel-body">
                        <p> First Let us try be very simple with only one input field and a Button</p>
                        <ul>
                            <li> Enter your message</li>
                            <li> Click on 'Show Message' button to display message entered in input field</li>
                        </ul>
                        <form id="get-input" method="post">
                            <div class="form-group">
                                <label for="message">Enter message</label>
                                <input type="text" class="form-control" placeholder="Please enter your Message"
                                    id="user-message">
                            </div>
                            <button type="button" onclick="showInput();" class="btn btn-default">Show Message</button>
                        </form>
                        <div id="user-message">
                            <label>Your Message: </label>
                            <span id='display'></span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Two Input Fields</div>
                    <div class="panel-body">
                        <p> First Let us try with Two input fields and a Button</p>
                        <ul>
                            <li> Enter Value for a </li>
                            <li> Enter Value for b </li>
                            <li>Click on 'Get Total' button to display the sum of two numbers 'a and b'</li>
                        </ul>

                        <form id="gettotal" method="post">
                            <div class="form-group">
                                <label for="value1">Enter a</label>
                                <input type="text" class="form-control" placeholder="Enter value" id="sum1">
                            </div>
                            <div class="form-group">
                                <label for="value2">Enter b</label>
                                <input type="text" class="form-control" placeholder="Enter value" id="sum2">
                            </div>
                            <button type="button" onclick="return total()" class="btn btn-default">Get Total</button>
                        </form>
                        <div style="height: 50px; width: 100%;">
                            <label> Total a + b = </label>
                            <span id='displayvalue'></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function showInput() {
            document.getElementById('display').innerHTML =
                document.getElementById("user-message").value;
        }
    </script>
    <script>
        function total() {
            var a = document.forms["gettotal"]["sum1"].value;
            var b = document.forms["gettotal"]["sum2"].value;
            //alert(a+b)
            var display = document.getElementById("displayvalue")
            display.innerHTML = parseInt(a) + parseInt(b);
            return false;
        }
    </script>
</body>
</html>